body, html {
height: 100%;
font-family: 'Raleway', sans-serif;
box-sizing: border-box;
}


.background-style {
  background: url('../images/bg-desktop.svg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.container-1 {
  padding-top: 20px;
  border: hsl(228, 56%, 26%) 1px solid;
  height: 170px;
  width: 30%;
  background-color:hsl(228, 56%, 26%);
  border-radius: 10px;
  border-top-right-radius: 100px; 
  margin-right: 30px;
  margin-bottom: 40px;

}
.logo{
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.flex  {
display: flex;
width: 150px;
margin-top: 10px;
margin-left: 50px;
justify-content: space-between;
}

.icon-bg {
  background-color: hsl(229,57%, 11%) ;
  width: 40px;
  height: 33px;
  text-align: center;
  padding-top: 10px;
  border-radius: 10px;;
}
/* ---------- CONTAINER 2 ------------------- */
.container-2 {
  margin-top:20px;
  border: hsl(228, 56%, 26%) 1px solid;
  border-radius: 10px;
  height: 130px;
  width: 40%;
  background-color:hsl(228, 56%, 26%); 
  position: relative;
}

.container-2 p {
  padding-left: 20px;
  padding-top: 20px;
  color: #8C97CE;
}
.container-2 p span {
  font-weight: bold;
  color: #fff;
}
.bar {
  background-color: #141F4B ;
  height: 15px;
  width: 80%;
  border: #141F4B 1px solid; 
  border-radius: 10px;
  margin-left: 20px;
}
.gradient {
  width: 0%;
  height: 12px;
  border: #141F4B 1px solid;
  border-radius: 10px;
  background: linear-gradient(to right, rgba(255, 163, 153), rgba(255, 77, 151));
  position: relative;
}
.circle {
  height: 10px;
  width: 10px;
  border: #fff 1px solid;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 97%;
}
.popup {
  background-color: #fff;
  height: 70px;
  width: 150px;
  position: absolute;
  top: -30px;
  left: 60%;
  border-radius: 10px;
  border-bottom-right-radius: 0;
}
.popup h3{
  padding-top: -20px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bold {
  color: #000;
  font-weight: bold;
  font-size: 30px;
  padding-top: 0px;
  padding-right: 8px;
}
.gray{
  color: gray;
  font-size: 14px;
  padding-top: 10px;
  padding-right: 10px;
}
.triangle{
  width: 0;
  height: 0;
  border-top: 30px solid #fff;
  border-left: 30px solid transparent;
  border-top-left-radius: 2px;
  margin-left: 120px;
  margin-top: -10px;
}
.bar-subtitle {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 85%;
  margin-top: -20px;
}
.bar-subtitle p {
  color: #fff;
  font-size: 10px;
  padding-bottom: 20px;
}

@media (max-width: 790px) {
  .background-style{
    background: url('../images/bg-mobile.svg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-1 {
    height: 190px;
    width: 80%;
    margin-top: 90px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
  }
  .container-2{
    height: 170px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    position: relative;
  }
  .container-2 p{
    padding-top: 25px;
  }
  .popup{
    position: absolute;
    top: 80%;
    left: 30%;
    border-radius: 10px;
  }
  .triangle {
    display: none;
  }
  
}